* {
  @apply box-border m-0 p-0;
}

html,
body,
#root,
.app {
  @apply relative h-full;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply m-0 p-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// scrollbar
::-webkit-scrollbar {
  @apply w-[8px] h-[8px] bg-transparent;
  &-track {
    @apply bg-transparent rounded-[5px];
  }
  &-thumb {
    background-color: #a6b2c3;
    @apply rounded-[5px];
  }
  &-corner {
    @apply bg-white;
  }
}
